<%- include("header"); -%>
<div class="box" id="heading">
    <h1 class="day">Custom List Name </h1>
  </div>

<form action="/custom" method="post">
    <div class="form-group">
        <input type="text" name="customList" class="input"  placeholder="New List" autocomplete="off" ></input>
      </div>
      <button type="submit" style="margin-top: 15px;">+</button>
</form>

</body>
</html>